extends ./layout

block content
    .container
        .sw-card.sw-card-body
            h1.tc An Error has Occured
            p Contact the your administration team for additional details. There are three reasons for a potential error:
            ol
              li You are not part of the Github organization
              li Your personal Github token is invalid
              li Your account is blocked
